<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/link') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('./partials/header') %>
    <h1>Bienvenidxs al nuevo e-commerce creado del lado del servidor</h1>

    <h2>Productos</h2>
    <% products.forEach(product => { %>
        <h3 data-id="<%= product.id %>" ><%= product.name %></h3>
    <% }) %>
</body>
</html>