<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/meta') %>
</head>
<body>
  <%- include('./partials/header') %>
  <h1>Ecommerce EJS</h1>

  <div class="flex-container">
    <% JSONProducts.forEach(product => { %>
      <div class="card">
        <h4><%= product.title %></h4>
        <p><%= product.description %></p>
        <img src="<%= product.image %>" alt="">
      </div>
      <% }) %>
  </div>


  [
    {
      name: 'LG',
      price: 20000,
      category: 'televisores'
    },
    {
      name: 'Microondas Philips',
      price: 20000,
      category: 'microondas'
    },
    {
      name: 'Celulares Xiaomi',
      price: 20000,
      category: 'celulares'
    }
  ]

  <% JSONProducts.forEach(product => { %>
      <a href="/products/<%= product.category %>" class="card">
        Ver más
      </a>
    <% }) %>


  
</body>
</html>