<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/meta') %>
</head>
<body>
  <%- include('./partials/header') %>

  <div class="container">
    <h1>Ecommerce EJS</h1>
  
    <div class="cards-container">
      <% products.forEach(product => { %>
        <div class="card">
          <div class="card-container">
            <div class="card-title">
              <h3><%= product.title %></h3>
            </div>
            <img src="<%= product.image %>" alt="">
            <div class="card-description">
              <%= product.description %>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>

  <script src="/js/main.js"></script>
</body>
</html>